main {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
}
.slider_con {
    overflow: hidden;
    width: 100%;
    height: 350px;
}
.slider {
    display: flex;
    width: 100%;
}
.slider img {
    width: 100%;
    transform: translateY(-20%);
}
.news_ctrl {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.news_ctrl i {
    border: 2px solid #0000001c;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    color: #000000a7;
    z-index: 99;
    cursor: pointer;
}
.title {
    margin-left: 10px;
    color: #0F2D2E;
}
.news_bar {
    margin-top: 20px;
    overflow: hidden;
    width: 90%;
}
.news {
    display: flex;
    float: left;
    gap: 10px;
}
.news span {
    width: 250px;
}

.learn img {
    width: 250px;
}
.learn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    text-align: center;
    
}

.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.products {
    /* border: 1px solid; */
    /* padding: 5px; */
    width: 20%;
}
.products img {
    width: 100%;
}
.products:nth-child(1) {
    width: 31%;
    margin-right: -5%;
}