.banner img {
    width: 100%;
}
.banner {
    position: relative;
}
.banner h1{
    letter-spacing: 1em;
    position: absolute;
    top: 25%;
    left: 15%;
}
.banner h3{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 45%;
    left: 15%;
}
main {
    width: 65%;
    margin: auto;
}
main>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 2em;
    letter-spacing: 0.5em;
}
.cosmetic_items ,.medical_items ,.stay_items{
    border-top: 2px solid;
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    width: 25%;
}
.stay_items .item {
    width: 33%;
}
.cosmetic_items .item img ,.stay_items .item img{
    width: 100%;
}
.medical_items .item {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.medical_items .item p {
    flex-basis: 75%;
    box-sizing: border-box;
    padding: 0 2em;
    font-size: 1.2em;
}
.medical_items .item img {
    flex-basis: 25%;
}
