.footer_bg {
    width: 100%;
    vertical-align: middle;
}
footer {
    position: relative;
    display: flex;
    justify-content: center;
}
.info {
    position: absolute;
    bottom: 0;
    width: 95%;
    display: flex;
    align-items: flex-end;
    gap: 14%;
}
.info p {
    width: 100%;
    display: flex;
    color: aliceblue;
}
.info a {
    margin:0 2%;
}