/* 回到上方 */
#scrollTopBtn {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    padding: 0px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    z-index: 9;
    background-color:#0000;
}
#scrollTopBtn:hover {
    opacity: 1;
}
header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 8;
    background-color: #fff0;
    transition: 0.5s ease-in-out;
}
.banner {
    height: 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px;
    gap: 20px;
}
.logo {
    width: 150px;
}
.bannerMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    list-style: none;
    padding: 0 25px;
    /* background-color: #7A7A7A; */
    border-radius: 10px;
    height: 43px;
    width: 45%;

}
.bannerMenu >li >a{
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}
.member {
    background-color: #008AD8;
    display: flex;
    border-radius: 30px;
    gap: 20px;
    padding: 0px 10px;
    width: 128px;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}
.member i {
    color: white;
}
.banner_pic {
    width: 100%;
    position: relative;
    top: -100px;
}

.hamburger-menu {
    display: none; /* 預設隱藏漢堡選單圖示 */
    flex-direction: column;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 2px solid #7A7A7A;
}
.hamburger-menu .bar2 {
    width: 25px;
    height: 3px;
    background-color: #7A7A7A;
    margin: 3px 0; /* 線條間距 */
    transition: all 0.3s ease-in-out; /* 動畫效果 */
}
@media (max-width:811px){
    .bannerMenu{
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 100%;
        left: 35%;
        padding:10px;
        width: 20%;
        background-color: #7A7A7A;
        border-radius:0 0 25px 25px;
        margin: 5px;
        height: auto;
    }
    .bannerMenu li {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #F5F5F5;
        max-width: 100%;
    }
    .bannerMenu li:last-child {
        border-bottom: none;
    }
    .hamburger-menu{
        display: flex;
    }
    .bannerMenu.active {
        display: flex; /* 當 active class 存在時顯示選單 */
    }
}
.hamburger-menu.active .bar2:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.hamburger-menu.active .bar2:nth-child(2) {
    opacity: 0;
}
.hamburger-menu.active .bar2:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
