main {
    position: relative;
    top: -230px;
}
#pro_title {
    transition: 1s ease-in-out;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 62.5%;
    margin: auto;
}
.title_ch{
    color: #262642;
    font-size: 48px;
    letter-spacing: 10px;
}
.tre_prod {
    display: flex;
    flex-direction: column;
    width: 62.5%;
    margin: auto;
    position: relative;

}
.tre_prod_bg {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
    transition: 1s ease-in-out;
}
.products{
    margin-top: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
h5{
    margin: 0;
}
.products > h5,.products > h1 {
    width: fit-content;
    margin: 0;
    letter-spacing: 1px;
}
.products > h5 {
    width: 50%;
}
.products > a {
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 25%;
    background-color: #E8368E;
    border-radius: 25px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.products_list {
    width: 88%;
    display: flex;
    justify-content: space-between;
}
.McAdams_bg {
    position: absolute;
    top: 20%;
    right: -20%;
    z-index: -1;
    width: 90%;
}
.product > img {
    position: absolute;
    top:-15px;
    left:-5px
}
.details {
    padding-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product {
    display: flex;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    position: relative;
    background-color: #fff;
}
.product > img {
    position: absolute;
    top:-15px;
    left:-5px
}
.basic {
    position:relative;
    margin-top: 18%;
}
#basic_title {
    transition: 1s ease-in-out;
}
.basic_bg {
    width: 100%;
    position: absolute;
    top: -23%;
    z-index: -2;
    transition: 1s ease-in-out;
}
.pet_basics {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 8% 0 0 auto;
}
.LR {
    align-self: flex-end;
}
.news_ctrl {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#right,#left {
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
    z-index: 99;
    cursor: pointer;
    background-color: #000000;
}
.news_bar {
    margin-top: 20px;
    overflow:hidden;
    width: 100%;
}
.news_bar::-webkit-scrollbar {
    height: 10px;
}
.news_bar::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
}
.news {
    display: flex;
    float: left;
    gap: 45px;
}
.news>span {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
    display:flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.news>span>* {
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 0 5px ;
}
.news>span>h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
    margin: 10px 0;
}
.news>span>a {
    width: inherit;
    text-align: center;
    background-color: #E8368E;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}

#instore_title {
    transition: 1s ease-in-out;
}
.service_bg {
    transition: 1s ease-in-out;
    position: absolute;
    top: 20%;
    width: 100%;
    margin-top: -10%;
    z-index: -2;
}
.grass {
    position: absolute;
    margin: auto;
    top: 40%;
    width: 100%;
    z-index: -1;
    scale: 0.4;
}
.instore {
    margin-top: 20%;
    position: relative;
    margin-bottom: 30%;
}
.instore_main {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 85vh;
}
.instore_service {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-image: url("../pic/service/dog.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 45%;
    transition: 0.3s linear;
}
.service_title {
    margin:10% auto auto auto;
    height: 75px;
    font-size: 36px;
    opacity: 0;
    transition:opacity 1s linear;
    color: #000;
}
.box:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 10%;
}
.box:nth-child(2) {
    position: absolute;
    bottom: -15%;
    left: 30%;
}
.box:nth-child(3) {
    position: absolute;
    top: 20%;
    right: 5%;
}
/* 門市服務項目動畫 */
.loader_box {
    transition: transform 0.8s linear;
    z-index: 2;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.loader {
    background-color: #FEFCED;
    position: absolute;
    border:7px dashed #E8368E;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transform-origin: center;
    animation: rotateClockwise 30s linear infinite;
    z-index: -1;
}
.pic {
    width: 160px;
    transition: transform 0.8s linear;
    overflow: hidden;
}
@keyframes rotateClockwise {
from {
    transform: rotate(0deg) ;
}
to {
    transform: rotate(360deg) ;
}
}