main img {
    width: 100%;
}
.banner {
    position: relative;
}
.banner h1{
    letter-spacing: 1em;
    position: absolute;
    top: 25%;
    left: 15%;
}
.banner h3{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 45%;
    left: 15%;
}
.nav {
    position: sticky;
    top: 25%;
    margin-left: 2em;
    border-radius: 10px;
    height: fit-content;
    flex-basis: 30%;
    background-color: #efefef64;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 15px 1px #0000004a;
}
.nav ul{
    margin: 1em;
    padding: 0;
    list-style: none;
}
.nav ul li {
    margin: 1em 0;
    cursor: pointer;
}
.nav ul li:hover {
    color: #ae9f39;
    scale: 1.2;
    transform-origin: 0 50%;
}
.learn_animals,.feeding_management,.health_care,.behavioral_training {
    width: 66.5%;
    margin: auto;
}
main > div>div>div >p:nth-child(1){
    font-size: 3em;
    font-weight: bold;
}
.article {
    display: flex;
    flex-wrap: wrap;
}
.article div {
    width: 50%;
    position: relative;
}
.article div button {
    position: absolute;
    height: 2.3em;
    right: 8%;
    bottom: 8%;
    background-color:#E8368E;
    color: #fff;
    border: 0;
    border-radius: 15px;
    padding:0.5em 1em;
    cursor: pointer;
    font-weight: bold;
}
main>div {
    display: flex;
}